In [2]:
import numpy as np
population = np.random.randint(0,75,10000)
population[0:10]

array([26,  8, 24, 26, 57,  4, 52, 67, 59,  2])

In [3]:
# extraction
np.random.seed(227)
sample = np.random.choice(a = population, size = 100)
sample[0:10]

array([60, 21, 31,  7, 31, 15, 39, 10,  3, 20])

In [4]:
sample.mean()
population.mean()

36.931

Distribution

In [5]:
np.random.seed(10)
sample1 = np.random.choice(a = population, size = 100)
sample2 = np.random.choice(a = population, size = 100)
sample3 = np.random.choice(a = population, size = 100)
sample4 = np.random.choice(a = population, size = 100)
sample5 = np.random.choice(a = population, size = 100)
sample6 = np.random.choice(a = population, size = 100)
sample7 = np.random.choice(a = population, size = 100)
sample8 = np.random.choice(a = population, size = 100)
sample9 = np.random.choice(a = population, size = 100)
sample10 = np.random.choice(a = population, size = 100)

In [6]:
x = sample1.mean() + sample2.mean() + sample3.mean() + sample4.mean() + sample5.mean() + sample6.mean() + sample7.mean() + sample8.mean() + sample9.mean() + sample10.mean() 
x/10

37.796

Descriptive statistics

In [7]:
import seaborn as sns
import pandas as pd
tips = sns.load_dataset('tips')
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [9]:
import researchpy as rp
rp.summary_cont(df[["total_bill","tip","size"]])

c:\Users\Enes227\AppData\Local\Programs\Python\Python311\Lib\site-packages\researchpy\summary.py:60: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [10]:
rp.summary_cat(df[["sex","smoker","day"]])

c:\Users\Enes227\AppData\Local\Programs\Python\Python311\Lib\site-packages\researchpy\summary.py:225: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [11]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [12]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

Confidence interval

In [13]:
prices = np.random.randint(10,110,1000)
prices.mean()

58.492

In [15]:
import statsmodels.stats.api as sms
sms.DescrStatsW(prices).tconfint_mean()

(56.67953887736034, 60.30446112263965)